@charset "UTF-8";

/**通用样式**/

* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    width: 100%;
    font: 16px/1.2 "微软雅黑";
}

img {
    border: none;
    vertical-align: top;
}

textarea {
    resize: none;
    overflow: auto;
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}

a,
input,
textarea,
button,
select {
    outline: none;
}

button {
    cursor: pointer;
}

input,
input:hover,
input:focus {
    outline: none;
    border: 1px solid darkgray;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/**头部**/

#header {
    width: 100%;
}

.site_nav {
    width: 100%;
    background-color: #3d3d3d;
}

.site_nav_bd:after {
    content: '';
    display: block;
    clear: both;
}

.site_nav_bd {
    width: 1200px;
    margin: 0 auto;
}

.site_nav_l li {
    float: left;
    color: #ffffff;
    line-height: 31px;
    font-size: 12px;
    margin-right: 42px;
}

.site_nav_l a {
    color: #ffffff;
    margin-right: 15px;
}

.site_nav_r {
    float: right;
}

.site_nav_r a {
    color: #ffffff;
}

.site_nav_r li {
    float: left;
    color: #ffffff;
    font-size: 12px;
    line-height: 31px;
    margin-right: 29px;
    position: relative;
}

.site_nav_hover {
    position: absolute;
    left: 0;
    top: 31px;
    background-color: #000000;
    z-index: 2;
}

.site_nav_hover a {
    display: block;
    color: #FFFFFF;
    white-space: nowrap;
    width: 80px;
    text-align: center;
}

.site_nav_r .caret {
    margin-left: 8px;
    border-top: 6px dashed;
    border-right: 3px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
}

.top {
    width: 100%;
}

.main_nav li a:hover {
    color: #cde4f4;
}

.top_wrap {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    padding-left: 82px;
    float: left;
    text-align: center;
}

.logo a {
    display: table-cell;
    vertical-align: middle;
    height: 131px;
}

.search_wrap {
    float: left;
}

.search_panel {
    position: relative;
    background: #ffb876;
}

.search_button {
    position: absolute;
    left: 400px;
    top: 0px;
}

.search_button button {
    background: #ffb876;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: #ffffff;
    box-sizing: border-box;
}

.search_wrap {
    padding-left: 198px;
    padding-top: 33px;
    padding-right: 170px;
    overflow: hidden;
}

.search_wrap form {
    padding: 2px 0 2px 2px;
    margin-left: -2px;
    overflow: hidden;
    height: 44px;
    width: 500px;
    box-sizing: border-box;
}

.search_wrap form input {
    float: left;
}

.search_wrap form input:nth-child(1) {
    width: 398px;
    height: 40px;
    font-size: 14px;
    border: 2px solid #ffb876;
    border-right: none;
    padding: 5px 5px 5px 14px;
    box-sizing: border-box;
}

.search_wrap form input:nth-child(2) {
    width: 100px;
    height: 40px;
    background-color: #f09044;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

.search_hot {
    overflow: hidden;
    padding-top: 15px;
}

.search_hot ul {
    margin-bottom: 0px;
    margin-left: -5px;
}

.search_hot li {
    display: inline-block;
    color: #cccbca;
    font-size: 12px;
    padding: 0 5px;
    border-left: 2px solid #cccbca;
    line-height: 13px;
}

.search_hot a {
    color: #cccbca;
}

.search_hot a:hover {
    color: #E98B4E;
}

.shop_car {
    float: left;
    padding-top: 36px;
}

.shop_car button {
    width: 100px;
    height: 40px;
    border: 1px solid #cccbca;
    background-color: #ffffff;
}

#footer {
    width: 100%;
    z-index: 1000;
}

.service {
    padding-top: 42px;
    border-top: 1px solid #ebe9e9;
}

.service_list {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #eceaeb;
}

.service_list ul {
    overflow: hidden;
}

.service_list li {
    float: left;
    overflow: hidden;
    width: 240px;
}

.service_list img {
    float: left;
    display: block;
    padding-right: 6px;
}

.service_list p {
    float: left;
    color: #563a24;
    font-size: 18px;
    line-height: 57px;
}

.help {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 45px;
    padding-bottom: 39px;
}

.help dl {
    float: left;
    width: 164px;
    margin-right: 86px;
}

.help dl:nth-child(1) {
    margin-left: 7px;
}

.help dl:nth-child(4) {
    margin-right: 46px;
}

.help dl:nth-child(5) {
    margin-right: 0px;
}

.help dt {
    padding-bottom: 45px;
    font-size: 16px;
}

.help dd {
    font-size: 12px;
    text-align: left;
}

.help dd a {
    display: block;
    padding-bottom: 30px;
    font-size: 12px;
}

.help dl:nth-child(5) dd:nth-of-type(2) span {
    font-size: 14px;
    color: #f2ad91;
    padding-bottom: 7px;
}

.help dd span {
    color: #b0b0b0;
    text-align: center;
    display: block;
    padding-bottom: 7px;
}

.help dd img {
    padding-bottom: 43px;
}

.copyright {
    width: 100%;
    background-color: #3d3d3d;
    height: 175px;
}

.copyright p {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
}

.copyright p:nth-child(1) {
    padding-top: 58px;
    padding-bottom: 34px;
}

.main_nav .router-link-active {
    background-color: #f88f1f
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 535px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 201;
}

.md-modal .md-modal-inner {
    padding: 60px 50px;
}

.md-modal-transition .md-modal-inner {
    background: #fff;
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.md-modal-transition.md-show {
    visibility: visible;
}

.md-modal-transition.md-show .md-modal-inner {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.md-title {
    position: absolute;
    top: 14px;
    line-height: 24px;
    padding: 8px 0;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}


/* .md-modal .md-close {
    display: none;
  } */

.md-modal .md-close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 34px;
    height: 34px;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    text-indent: -8000px;
    background: none;
    border: 0;
    box-sizing: border-box;
}

.md-modal .md-close:before,
.md-modal .md-close:after {
    position: absolute;
    top: 16px;
    left: -4px;
    content: "";
    width: 44px;
    height: 3px;
    background: #d7d8dd;
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.md-modal .md-close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.md-modal .md-close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.md-modal .md-close:hover:before,
.md-modal .md-close:hover:after {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.md-modal .md-close:hover:before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.md-modal .md-close:hover:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.md-modal.md-modal-fun .md-content {
    padding-top: 30px;
}


/* .md-modal .confirm-tips,
.md-modal .alert-tips {
    padding: 30px 10px;
} */


/* 
.md-modal .confirm-tips {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 90px;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

.md-modal .confirm-tips p {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.md-modal .confirm-tips,
.md-modal .alert-tips {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.md-modal .confirm-tips p,
.md-modal .alert-tips p {
    line-height: 1.8em;
}

.md-modal .confirm-tips {
    min-height: 5.65em;
}

.error-wrap .error {
    font-size: 12px;
    color: #d31723;
    visibility: hidden;
    display: block;
    padding: 0 0 7px 17px;
    line-height: 16px;
    height: 16px;
    text-align: left;
    background: url("/static/img/icon.png") 0 -100px no-repeat;
}

.md-content .error-wrap .error-show {
    visibility: visible;
    height: auto;
}

.regi_form_input {
    position: relative;
    height: 42px;
    line-height: 42px;
    background: none;
    margin-bottom: 15px;
    font-size: 14px;
    overflow: hidden;
    border: 1px solid #ccc;
    padding-bottom: 0;
}

.regi_form_input .icon {
    display: inline-block;
    float: left;
    width: 25px;
    height: 29px;
    margin: 6px 0 0 14px;
    background-position: 4px 5px;
    background-image: url("/static/img/icon.png");
    background-repeat: no-repeat;
}

.regi_form_input .IconPwd {
    background-position: -198px 3px;
}

.regi_form_input .regi_login_input {
    position: absolute;
    left: 45px;
    top: 0;
    padding: 9px 0 10px;
    width: 270px;
    font-size: 14px;
    zoom: 1;
    border: none;
    color: #333;
    /*height: 23px;*/
    line-height: 23px;
    background: 0 0!important;
}

.login-wrap {
    margin-top: 30px;
}

.md-content .btn-login {
    display: block;
    height: 38px;
    line-height: 38px;
    border: 2px solid #009de6;
    background: #009de6;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.btn-login:hover {
    background: #61b1ef;
    border: 2px solid #61b1ef;
}

.md-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.md-flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    -ms-flex: 1;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center
}

.md-btn {
    text-align: center;
    display: inline-block;
    width: 45%;
    border: 1px solid #d31723;
    height: 40px;
    color: #d31723;
    letter-spacing: .25em;
    font-size: 14px;
    line-height: 40px;
    margin: 0 2.5%;
    font-weight: bold;
}

.md-btn-red {
    background-color: #d31723;
    color: #fff
}

.md-btn:hover {
    background-color: #f16f75;
    color: #fff
}

.admin {
    box-shadow: 0 0 25px #cac6c6
}